:root{
	scroll-behavior: smooth;
}
body{
	font-family: sans-serif;
}
button{
	cursor: pointer;
}
#list-area{
	text-align: center;
}
.sound-button{
	text-align: left;
	padding: 10px;
	border: 2px solid;
	border-radius: 12px;
	transition: 1s;
	margin: 5px;
}
.sound-button.playing{
	background: lightgrey;
	transition: 0s;
}
.sound-button.deleted{
	background: darkgrey;
	cursor: not-allowed;
}
.sound-button > button[disabled]{
	cursor: not-allowed;
}
.sound-button .favorite{
	float: right;
}
.sound-button .time{
	float: right;
}