:root{
	scroll-behavior: smooth;
}
body{
	font-family: sans-serif;
	font-size: 14pt;
}
button{
	cursor: pointer;
	font-size: 12pt;
}
select{
	font-size: 12pt;
}
input{
	font-size: 12pt;
}
#version{
	background: lightgrey;
	padding: 5px 10px;
	border-radius: 15px;
}
#version:empty{
	display: none;
}
#list-area{
	text-align: center;
}
.sound-button{
	text-align: left;
	padding: 10px;
	border: 2px solid;
	border-radius: 12px;
	transition: 1s;
	margin: 5px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
.sound-button .other{
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;
}
.sound-button.playing{
	background: lightgrey;
	transition: 0s;
}
.sound-button.deleted{
	background: darkgrey;
	cursor: not-allowed;
}
.sound-button > button[disabled]{
	cursor: not-allowed;
}
.sound-button .favorite{
	float: right;
}
.sound-button .time{
	float: right;
}

#tab-content > .tab{
	display: none;
}
#tab-content > .tab.active{
	display: block;
}

#volumer{
	display: flex;
	align-items: center;
	margin: 8px 0;
}
#volumer > input{
	cursor: ew-resize;
}
#volumer > [name='value']{
	font-family: monospace;
	font-size: 0.8em;
	margin-left: 4px;
}
#volumer > [name='value']:after{
	content: '%';
}
