:root{
	--body-color: #0d0f13;
	--text-color: #edf0f5;
	--left-menu-bg: #15181e;
	--border-color: #262b36;
	--border-color-active: #454d5c;
	--button-color: #15181e;
	--button-hover: #252c3c;
	--scroll-bar: #1c2029;
	--sound-button-hover: #1c2029;
	--text-not-active: #8b93a3;
	--not-active: #1c2029;
}
::selection {
	color: var(--body-color);
	background-color: var(--text-color);
}
input[type="text"], input[type="number"]{
	border: 2px solid #404040;
}
#tabs > .tab-title{
	background: rgb(16, 16, 20);
}
